{% extends 'base.html'%}

{% block main_content%}
    <h1>{{heading}}</h1>
    <table>
        {% for book in books%}
            <tr>
                <td>{{book['book_id']}} </td>
                <td>{{book['title']}} </td>
                <td>{{book['author']}} </td>
            </tr>
            <tr>
                <td>{{book['dewey_decimal']}} </td>
                <td>{{book['genre']}} </td>
                <td>{{book['location']}} </td>
                <td>{{book['checked_out']}} </td>
            </tr>
            <tr>
                <th><a href="{{url_for('book',book_id = book['book_id'])}}">Click here for a more detailed view.</a> </th>
            </tr>


        {% endfor%}
    </table>

    <p>{{message}} </p>


{% endblock%}