{% extends 'base.html'%}

{% block main_content%}
    <h1>Your cart</h1>
    {% if cart%}
        <table>
            {% for book_id in cart%}
                <tr>
                    <th scope="row" rowspan="2">{{cart[book_id]}} </th>
                </tr>
                <tr>
                    <td> {{titles[book_id][0]}}</td>
                    <td>{{titles[book_id][1]}} </td>
                </tr>
                <tr>
                    
                    <td>{{titles[book_id][2]}} </td>
                </tr>
            {% endfor%}
        </table>

    
        <form action="{{url_for('checkout')}}" method="POST" novalidate>
            {{form.hidden_tag()}}
            
            {{form.submit()}}


        </form>
    {% else%}
        <p>Cart is empty, please add some items to your cart!</p>
    {% endif%}
        
{% endblock%}