{% extends 'base.html'%}


{% block main_content%}
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    {% if admin%}
        {{form.user_id.label}}
        {{form.user_id()}}
        {% for error in form.user_id.errors%}
            {{error}}
        {% endfor%}
        <br />
    {%else%}
        {{form.old_password.label}}
        {{form.old_password()}}
        {% for error in form.old_password.errors%}
            {{error}}
        {% endfor%}
        <br />
    {% endif%}
    {{form.new_password.label}}
    {{form.new_password()}}
    {% for error in form.new_password.errors%}
        {{error}}
    {% endfor%}
    <br />
    {{form.new_password2.label}}
    {{form.new_password2()}}
    {% for error in form.new_password2.errors%}
        {{error}}
    {% endfor%}
    <br />
    {{form.submit()}}


</form>

<p>If you have forgotten your password please contact an admin to change it for you, or login as admin <a href="{{url_for('login')}}">Here</a>.</p>
{% endblock%}