{% extends 'base.html'%}

{% block main_content%}
<nav>
    {% if admin%}
    <a href="{{url_for('add_book')}}">Add Books</a>
    <a href="{{url_for('remove_book')}}">Remove Books</a>
    <a href="{{url_for('change_user_id')}}">Change User ID</a>

    {% else%}
    <a href="{{url_for('history')}}">History</a>
    <a href="{{url_for('checked_out')}}">Currently Checked Out</a>
    <a href="{{url_for('late_fees')}}">Late fees checker</a>
    {% endif%}    
</nav>

<table>
    <tr>
        <td>User: {{user['user_id']}} </td>
    </tr>
    <tr><td>Date of registration: {{user['date_registered']}} </td>
    </tr>
    <tr>
        {% if user['has_late_fees'] ==1%}
        <td>Your account has outstanding late fees!</td>
        {% else%}
        <td>You have no outstanding late fees at the moment.</td>
        {% endif%}
    </tr>
</table>
<p>If you are looking to change your password, please follow the link
    <a href="{{url_for('change_password')}}">Here</a>.
</p>

{% if user['has_late_fees'] == 1%}
<p>Your late fees due are: {{late_fees}}</p>
<p>Please pay this amount below.</p>
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    {{form.submit()}}
</form>
{% endif%}


{% endblock%}